.App {
  text-align: center;
}

.back {
  background-color: #1B1D1A ;
}

html {
  background-color: white;
  font-family: arial;
  font-size: 24px;
  margin: 0 auto;
  padding: 0px;
  max-width: 800px;
  position: relative;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}